<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<div>
    <a href="/template1">International Students Info</a>
</div>
<div>
    <a href="/template2">Accommodations</a>
</div>
<div>
    <a href="/template3">Area of Major</a>
</div>


<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>